.message-container {
  overflow-y: auto;
  position: relative;
  width: 100%;
  height: 100%;

  .message-list {
    display: block;
    overflow-y: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
}
