@import "../Constants";


@mixin headNavMixin($background-color, $color) {
  $new-background-color: darken($background-color, 2%);
  background-color: $new-background-color;

  .nav-link,
  .nav-link:hover {
    color: $color;
    border: none;
    text-transform: uppercase;
  }

  .nav-link {
    &:hover {
      color: $color;
    }
  }
}

.header {
  .col {
    padding: 0;
  }

  .navbar {
    padding: 0;

    .nav-link {
      border-radius: 0;
    }
  }

  &.dark {
    @include headNavMixin($color-dark, $color-light);

    .nav-link.active:hover {
      color: $color-dark;
    }

    .nav-tabs {
      border-bottom: 1px solid $color-light;
    }
  }

  &.light {
    @include headNavMixin($color-light, $color-dark);

    .nav-link.active:hover {
      color: $color-dark;
    }

    .nav-tabs {
      border-bottom: 1px solid lighten($color-light, 50%);
    }
  }
}
